*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    color: rgb(8, 8, 8);
    line-height: 1.6;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    position: sticky;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    top:0;
    z-index: 100;
    background: white;

}
.logo{
    font-size: 25px;
    font-weight: 700;
    color: black;
}
.navbar ul {
    display: flex;
    gap: 30px;
}
.navbar a{
    color: rgb(79, 174, 162);
    font-weight: 500;

}
.navbar a:hover{
    color: rgb(93, 147, 223);
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
    flex-wrap: wrap;
}
.content {
    flex: 1;
min-width: 300px;
}
.content h1{
    font-size: 45px;
    color: rgb(112, 112, 187);
}
.content h2{
    color:rgb(16, 149, 197) ;
    margin: 10px 0;
}
.content p{
     color: #444;
  margin: 20px 0;

}
.btn{
     display: inline-block;
  padding: 10px 20px;
  background: #0078ff;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0,120,255,0.4);
  transition: 0.3s;

}
.btn:hover {
  background: #005dc1;
}
img {
  width: 280px;
  border-radius: 50%;
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}
.skills{
     padding: 80px 10%;
  background: #fdfdfd;
}
.skills-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.skill-card{
    background: #fff;
    padding: 25px;
    width: 300px;
    border-radius: 12px;
    box-shadow:0 6px 15px rgba(0,0,0,0.1) ;
    transition: 0.3s;
}
.skill-card:hover{
    box-shadow:0 10px 20px rgba(0,0,0,0.15) ;
    transform: translateY(-8px);
}
.skills h3{
    color: #2039c9;
    font-weight: 800;
     justify-content: center;
    align-items: center;
    display: flex;
}
.tools{
     padding: 80px 10%;
  background: #fdfdfd;

}
.tools-card{
        background: #fff;
    padding: 25px;
    width: 300px;
    border-radius: 12px;
    box-shadow:0 6px 15px rgba(0,0,0,0.1) ;
    transition: 0.3s;
}
.tools-card:hover{
    box-shadow:0 10px 20px rgba(0,0,0,0.15) ;
    transform: translateY(-8px);
}
.tool-grid{
     display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

}
.tools h3{
     color: #2039c9;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    display: flex;

}
.project {
  padding: 80px 10%;
  background: #fff;
}
.project-card {
    background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: 0.3s;
  
}
.project h3 {
  text-align: center;
  color: #0078ff;
  margin-bottom: 40px;
}
.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}
.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}