.box{
    width: 100px;
    height: 100px;
    margin: 20px;
    text-align: center;
    background-color: wheat;
    border-radius: 10px;
}
.static{
    position: static;
    background-color: lightcoral;
}
section{
     border: 2px solid black;
        height: 400px;                                                                                                              
    position: relative; 
}
.relative{
    position: relative;
    background-color: lightblue;
}
.absolute{
    position: absolute;
    top: 150px;
    left: 300px;
    background-color: lightgreen;
}
.fixed{
    position: fixed;
    top: 10px;
    right: 100px;
    background-color: lightpink;
}
.sticky{
    position: sticky;
    top: 0;
    left: 200px;
    background-color: lightyellow;
}